.voffset1 { 
	margin-top: 10px;
}

body { 
    /*background: url(../images/fabric_of_squares_gray_@2X.png) repeat 0 0;*/
}

/*section {
	padding-top:5px;
}

a.greyed {
	color:#999;
}
a.greyed:hover {
	text-decoration:none;
}
a.greyed:active {
	text-decoration:none;
}*/